@charset "utf-8";

header{
	top: -1px;
	height: 40px;
	padding-bottom: 3px;
	position: sticky;
	background-color: white;
	border-bottom: 3px solid #000000
}
.logo{
	margin: 0;
	width: 10%;
	float: left
}
.title{
	font-size: 30px;
	font-family: ui-rounded;
	text-align: center
}
#logo{
	width: auto;
	height: 40px;
	cursor: pointer
}

.output1, .output2, .graph{
	border: 1px solid #000000;
}
.output1{
	font-size: 10px;
	float: left;
	width: 250px;
	height: 250px;
	overflow: auto;
}
.output2{
	float: left;
	width: 250px;
	height: 250px;
	overflow: auto;
}
.graph{
	float: left;
	width: 250px;
	height: 250px;
	overflow: auto;
}

footer{
	position: sticky;
}
footer p{
	position: fixed;
	background-color: white;
	font-size: 10px;
	bottom: -10px
}