@charset = "utf-8";

.pop-up-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 0px;
	height: 0px;
	opacity: 30%;
	background-color: black;
}
#help_img{
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	display:none;
}
.pop-up-close{
	position: fixed;
	top: 10px;
	right: 10px;
	display: none;
	cursor: pointer;
}