<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>LOGIN</title>
		<link rel="stylesheet" href={{ url_for("static", filename="css/login.css") }}></style>
		<script src={{ url_for("static", filename="js/jquery-3.6.0.js") }} type="text/javascript"></script>
		<script src={{ url_for("static", filename="js/idpass.js") }} type="text/javascript"></script>
	</head>
	<body>
		<image src={{ url_for("static", filename="spritesheet/logo.png") }} id="logo">
		<p><pre>
		<b id="b">ID	:</b> <input class="ID" type="text" value="admin"></input><br>
		<b id="b">PASSWORD	:</b> <input class="PASS" type="password" value="0000"></input><input class="button" type="submit" value="LOGIN"></input>
		</pre></p>
		
		<script src={{ url_for("static", filename="js/login.js") }} type="text/javascript"></script>
		<footer>
			<!-- <p>&copy;Copyright keikoubunnsekimaru. All rights reserved.</p> -->
			<p>&copy;Copyright 2022 <b>情シス　ｘ　国際IT　プロジェクト</b>　All rights reserved.</p>
		</footer>
	</body>
</html>